<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Projects
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button ion-item *ngFor="let person of people" (click)="itemSelected(person)">
      {{ person.username }}
    </button>  
  </ion-list>

  <div text-center class="loadingSpinner" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>